.NavBar {
    position: relative;
    display: flex;

    .nav-visible-btn {
        visibility: hidden;
        background: rgb(0, 0, 0);
        color: white;
        outline: 0;
        width: 70px;
        height: min-content;
        padding: 5px 10px;
        border: 0;
        border-radius: 10px;
        position: fixed;
        left: 10px;
        top: 10px;
        z-index: 200;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            box-shadow: var(--box-shadow);
            background: rgb(49, 49, 49);
        }

        img {
            max-height: 30px;
            max-width: 30px;
        }

        p {
            font-size: 22px;
            line-height: 1;
        }
    }

    .nav {
        visibility: hidden;
        left: -300px;
        opacity: 0;
        position: fixed;
        justify-self: center;
        background-color: rgb(0, 102, 255);
        width: 300px;
        height: 100vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 10px;
        // opacity: 1;
        transition: all .3s ease-in;
        z-index: 150;

        .itmo-logo {
            text-decoration: none;
            margin-top: 20px;

            img {
                max-width: 280px;
                max-height: 170px;
                border-radius: 20px;
            }

        }

        .person {
            text-align: center;
            line-break: auto;
            font-size: 18px;
        }

        .nav-link {
            font-size: 20px;
            color: aliceblue;
            border: 1px solid transparent;
            width: 100%;
            padding: 10px;
            background: rgb(60, 112, 255);
            border-radius: 10px;
            transition: all .3s ease-in;

            &:hover {
                border: 1px solid rgb(190, 185, 255);
                box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.2);

            }
        }

        .nav-link-active {
            font-size: 20px;
            color: aliceblue;
            border: 1px solid rgb(255, 255, 255);
            width: 100%;
            padding: 10px;
            background: rgb(60, 112, 255);
            border-radius: 10px;
            transition: all .3s ease-in;

            &:hover {

                box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.2);

            }
        }

        .avatar-wrapper {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(211, 211, 211);

            .avatar {
                max-height: 140px;
                max-width: 140px;
            }
        }
    }

    .active {
        visibility: visible;
        left: 0;
        opacity: 1;
    }

    .content {
        position: relative;
        left: 300px;
        padding: 20px;
        height: 100%;
        width: calc(100% - 300px);
    }
}

@media screen and (max-width: 1000px) {
    .NavBar {
        .nav-visible-btn{
            visibility: visible;
        }
        .content {
            left: 0px;
            width: 100%;
        }
    }
}
