.FullScreenQuestion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .question-text{
        background: rgba(255, 255, 255, 0.3);
        max-width: 80vw;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .quest-img {
        max-width: 90vw;
        max-height: 80vh;
        min-height: 250px;
        min-width: 250px;
        background: rgb(227, 227, 227)
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 25px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 20px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;

        &:hover {
            box-shadow: 0 0 10px 0 red inset;
            color: red;
            border: 1px solid red;
        }

    }
}